* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v107_180 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_204 {
  width: 208px;
  color: rgba(0,160,252,1);
  position: absolute;
  top: 878px;
  left: 878px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v107_205 {
  width: 275px;
  color: rgba(0,160,252,1);
  position: absolute;
  top: 119px;
  left: 583px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v107_206 {
  width: 564px;
  color: url("/images/v107_206.png");
  position: absolute;
  top: 192px;
  left: 438px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v107_207 {
  width: 696px;
  height: 585px;
  background: rgba(0,160,252,1);
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 372px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v107_208 {
  width: 321px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 295px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_210 {
  width: 265px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_209 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 392px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_211 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 561px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_212 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 660px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_213 {
  width: 308px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 758px;
  left: 410px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v107_214 {
  width: 289px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 326px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v107_215 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v107_216 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 506px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v107_217 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 598px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v107_218 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 695px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v107_219 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 791px;
  left: 410px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v107_220 {
  width: 49px;
  height: 57px;
  background: rgba(0,160,252,1);
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 975px;
}
.v107_231 {
  width: 100%;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v107_233 {
  width: 275px;
  height: 51px;
  background: rgba(0,160,252,1);
  opacity: 1;
  position: absolute;
  top: 871px;
  left: 372px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v107_234 {
  width: 183px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 884px;
  left: 418px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v107_226 {
  width: 152px;
  height: 35px;
  background: url("/images/v107_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 57px;
  overflow: hidden;
}
.v107_227 {
  width: 171px;
  color: rgba(0,160,252,1);
  position: absolute;
  top: 19px;
  left: 1147px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v107_228 {
  width: 32px;
  height: 19px;
  background: url("/images/v107_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1356px;
  overflow: hidden;
}
.v107_229 {
  width: 6px;
  height: 7px;
  background: url("/images/v107_229.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2.625664710998535px solid rgba(0,160,252,1);
}
.v107_230 {
  width: 32px;
  height: 15px;
  background: url("/images/v107_230.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 2.625664710998535px solid rgba(0,160,252,1);
}
